@model  ParaGenerator.ViewModel.ParasViewModel
@{
    ViewBag.Title = "ParaLeft";
}

<h2>Paras</h2>
<div class="container">

    <div class="row ParaRow">
        <div class="col-sm-3 paraBorder paraBorderLeft" >
            <ul>

                @foreach (var p in Model.Paras)
            {
                    <li data-para-id="@p.ParaId" data-para-text="@p.ParaText"  class="js-click-move">@p.ParaId  </li>
                }


            </ul>
        </div>

        <div class="col-sm-3 middlePara">
           

            <div id="leftArrow">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-arrow-right
" aria-hidden="true"></span>
                </button>
            </div>

            <div id="rightArrow">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-arrow-left
" aria-hidden="true"></span>
                </button>
            </div>
        </div>



        <div class="col-sm-3 paraBorder paraBorderRight">

        </div>
    </div>

    <div class="row textAreaRow">
        <textarea rows="8" cols="50"  >
            At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
        </textarea>
    </div>

</div>

@section scripts
{
    <script>

       console.log("start script.");
        $(document).ready(function(){
        
            console.log("into function");
            $(".js-click-move").click(function (e) {

                console.log("clicked");
            
                var text = $(e.target);
                $.post( "/api/Para",
                    {paraId: text.attr("data-para-id"), direction:"ToR" }
                    
                    )
                .done(
                    console.log("done")
                )
                .fail(
                    console.log('failed')
                );
            });
        
        });

    </script>
}

