@model  ParaGenerator.ViewModel.ParasViewModel
@{
    ViewBag.Title = "ParaLeft";
}

<h2>Paras</h2>
<div class="container">

    <div class="row ParaRow">
        <div class="col-sm-3 paraBorder paraBorderLeft" >
            <ul>

                @foreach (var p in Model.Paras)
            {
                    <li data-para-id="@p.ParaId" data-para-text="@p.ParaText"  class="js-click-move">@p.ParaId  </li>
                }


            </ul>
        </div>

        <div class="col-sm-3 middlePara">
           

            <div id="leftArrow">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-arrow-right
" aria-hidden="true"></span>
                </button>
            </div>

            <div id="rightArrow">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-arrow-left
" aria-hidden="true"></span>
                </button>
            </div>
        </div>



        <div class="col-sm-3 paraBorder paraBorderRight">
            <ul>

            </ul>
        </div>
    </div>

    <div class="row textAreaRow">
        <textarea rows="8" cols="50"  >

            test test test

        </textarea>
    </div>

</div>

@section scripts
{
    <script>
        (function ($) {
            $.fn.extend({
                isChildOf: function (filter) {
                    return $(filter).find(this).length > 0;
                }
            });
        })(jQuery);


       console.log("start script.");
        $(document).ready(function(){
        
            console.log("into function");
            $(".js-click-move").click(function (e) {

                console.log("clicked");
            
                var text = $(e.target);
                var paraId = text.attr("data-para-id");
                var paraText = text.attr("data-para-text");

                /*
                if text is a child of paraBorderLeft
                direction = ToR

                if text is a child of paraBorderRight
                direction = ToL                
                */

                var ToR = text.isChildOf('.paraBorderLeft');

                var ToL = text.isChildOf('.paraBorderRight');


                if(ToR ){  var direction = "ToR"; }

                if (ToL) {  var direction = 'ToL'; }

                $.post( "/api/Para",
                    { paraId: paraId, direction: direction }
                    
                    )
                .done(
                    function () {
                        console.log("post success.");
                        text.hide();

                        if (ToR) {
                            $(".paraBorderRight ul").append('<li data-para-id = "' + paraId + '" data-para-text="' + paraText + '" class="js-click-move"  >' + paraId + '</li>');
                        }
                    }
                )
                .fail(
                    function () {
                       alert("ajax post failed.")
                    }
                );
            });
        
        });

    </script>
}

